<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRIS Classification AI MODEL</title>
</head>
<body bgcolor="lavender">
    <h1>IRIS CLASSIFICATION MODEL</h1>

    <form action="/get_data" method="post" >
        <label >Sepal Length Cm : </label><input type="number" step="any" name="sepal_length"><br><br>
        <label >Sepal Width Cm : </label><input type="number" step="any" name="sepal_width"><br><br>
        <label >Petal Length Cm : </label><input type="number" step="any" name="petal_length"><br><br>
        <label >Petal Width Cm : </label><input type="number" step="any" name="petal_width"><br><br>
        <input type="submit" value="PREDICT">

        <h3>{{PREDICT_VALUE}}</h3>


    </form>
</body>
</html>